


header  {
 background: white;
 overflow: hidden;
 padding: 5em;
 position: relative;


}
header .logo{

    float: center;
    width: 50%; 
    margin-left: 160px;
}       
header .titular{
    display: inline-block;
    position: absolute;
    float: center;
    width: 50%; 

}       
header .titular .titulo{
    position: absolute;
    float: right;
    width: 50%;   
} 
header .titular .titulo img{

    position: absolute;
    float: left;
    bottom: 35px;
    left: 457px;
    width: 300px;

} 
header .titular .titulo2{
    position: absolute;
    float: right;
    width: 50%; 

}       
header .titular .titulo2 img{

    position: absolute;
    float: left;
    bottom: -30px;
    left: 400px;
    width: 350px;

}   





nav{
    background: #168ECD;
    border-left: 15px solid #fff;
    border-right: 15px solid #fff;
    position: relative;    
}
nav:before {
    border-bottom: 20px solid transparent;
    border-left: 7px solid #fff;
    border-top: 20px solid transparent;
    content: "" ;
    left: 0;
    position: absolute;
    top: 0;   
}
nav:after {
    border-bottom: 20px solid transparent;
    border-right: 7px solid #fff;
    border-top: 20px solid transparent;
    content: "" ;
    right: 0;
    position: absolute;
    top: 0;   
}

nav .menu{
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;

}

nav .menu li{
    position: relative;
    bottom: 10px;
    display: inline-block;
}
nav .menu li a{
    color: #fff;
    display: block;
    margin: 0.5em;
    padding: 0.2em;
    text-decoration: none;
    font-size: 18px;

}

body{

    margin: 0;
    margin-right: 0;
    margin-left: 0;
}    

section{
   margin: 0;
   background: black;
   height: 100%;

}
article{
   margin: 0;
   background: black;
   width: 100%;
   height: 100%;

}

footer{
    background: #77C2EC;
    color: white;
    padding: 1em 0;
    text-align: center;
    width: 100%;
}

footer h3{
   font-size: 14px;
   font-weight: normal;
}

footer h3 strong{
    display: block;
}


